img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.box {
  padding: 30px;
  box-sizing: border-box;
}

table {
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.inputBox {
  display: flex;
}

.inputBox input {
  width: 200px;
  margin-right: 20px;
}

.editBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.editBox form {
  padding: 30px;
  width: 500px;
  height: 450px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.editBox input {
  width: 200px;
}

.editBox button {
  margin-right: 20px;
}

.upload-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.righeUl {
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
}